.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .product-image {
    height: 200px;
    object-fit: cover;
  }
  
  .cart-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    font-size: 24px;
  }
  
  
  .badge {
    position: absolute; /* Positions the badge relative to the icon */
    top: -10px; /* Adjust this to position the badge higher */
    right: -15px; /* Adjust this to position the badge to the right of the icon */
    font-size: 1.2rem; /* Increase the font size to make it larger */
    padding: 8px 12px; /* Add padding for a larger badge */
    border-radius: 50%; /* Ensures the badge remains circular */
    min-width: 35px; /* Set a minimum width to make it larger */
    min-height: 35px; /* Set a minimum height to match the width */
    display: flex; /* Aligns the text inside */
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
  }
  